ExportArray/Debug
ExportArray/ExportArray.sdf
ExportArray/ExportArray.v12.suo
ExportArray/ExportArray/Debug
ExportArray/ipch
ExportArray/ManagedLibrary/obj
ExportArray/packages
ExportArray/ExportArray/ExportArray.vcxproj.user